<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyRecruits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC69BDB61C0B86DB009CF91B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC69BDCA1C0B86DC009CF91B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC69BDD51C0B86DC009CF91B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
